.edit {
    body {
        width: 100vw;
        height: 100vh;
        position: relative; /* Ensure positioning for the pseudo-element */
        background: #799a84ff; /* Fallback background color */
        overflow-y: hidden;
        overflow-x: hidden;
    }

    img {
        border-radius: 50%; /* NOTE: image must be square */
        margin-left: 300px;
        margin-top: 50px;
        height: 250px;
        width: 250px;
    }

    #file, button, #submit {
        /* style of button */
        border: none;
        color: #494949;
        font-family: Arial, sans-serif;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: #494949;
        color: white;
        border: 2px solid #151515;
        border-radius: 25px; /* rounds the border */
    }

    button, #submit {
        font-size: 20px;
    }
    
    #file:hover {
        background-color: #151515;
        color: white;
    }

    button:hover {
        background-color: #151515;
        color: white;
    }

    #submit:hover {
        background-color: #151515;
        color: white;
    }

    #file {
        position: fixed; 
        top: 340px;
        left: 280px;
        font-size: 12px;
    }

    .pfp {
        position: fixed;
        top: 310px;
        left: 250px;
    }

    #back {
        position: fixed;
        top: 0;
        left: 0;
    }

    #submit {
        position: fixed;
        top: 450px;
        left: 670px;
    }

    /*
    p {
        font-size: 15px;
        color: darkred; /* assumes invalid username, use green for valid */
    
    .edit-container {
        position: fixed;
        width: 400px;
        border-radius: 10px;
        margin: auto;
        text-align: center;
        z-index: 1; /* Layer above the background */
        margin-left: 650px;
        margin-top: -160px;
    }

    input[type="text"] {
        width: 90%;
        padding: 10px;
        margin: 25px;
        border: 2px solid #000;
        border-radius: 10px;
      }
}

.edit::before {
    content: '';
    position: absolute;
    top: 0;
  
    left: 0;
    width: 100%;
    height: 100%;
    background: url('forestshadow.png') no-repeat center center;
    background-size: 100%;
    opacity: 0.2; /* 50% transparency */
    z-index: 0; /* Ensure it stays behind other elements */
    background-position: cover;
    background-attachment: fixed;
}