.friends-page{
    height:100vh;
    width:100vw;
    display:grid;
    place-items:center;


    background-image:url('https://as1.ftcdn.net/jpg/05/24/39/98/1000_F_524399837_FIwRVE6kb6mU9UPzjFqumIm5OHNkPRZ0.jpg');
    background-size:100%;
    .container{
        height:500px;
        width:500px;
        display:flex;
        flex-direction:column;
        background-color:white;
        border-radius:20px;
        padding:10px;


        .friendsHeader{
           
            display:flex;
            height:50px;
            justify-content: center;
            align-items: center;
            font-size:2rem;




        }


        .friends{
            display:block;
            align-items:center;
            overflow-y:scroll;
            overflow-x:hidden;
            padding:20px;
           
           




            .friend{
                width:100%;
               
                color:black;
                display: flex;
                flex-direction: row;
                padding-top:10px;
                padding-bottom:10px;
               
                justify-content: space-between;
               


               




            }
        }
    }
}
