.login{

  width:100vw;
  height:100vh;

  background:#799a84ff;

  .container {
    background-color: white;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    margin: 100px auto;
    text-align: center;
  }

  h1 {
    font-family: 'Verdana', sans-serif;
    color: darkgreen;
    text-shadow: 1px 1px 2px #999;
  }

  input[type="text"], input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px;
    border: 2px solid #000;
    border-radius: 10px;
  }

  button {
    background-color: #d9d9d9;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px;
    font-size: 16px;
  }

  button:hover {
    background-color: #c0c0c0;
  }
}