.map{
    background:rgb(88, 148, 88);
    height:100vh;
    display:flex;
    width:100vw;
    flex-direction:column;


    .header{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        height:10vh;
        padding:20px;

        span{
            font-size:2rem;
            color:white;
        }
    }

    .bottom{
        height:80vh;
        display:flex;
        flex-direction:row;
        padding:20px;
        max-height:90vh;
        

        .left{

            display:flex;
            flex-direction:column;
            justify-content: center;
            flex-grow:2;
            gap:20px;
            
            .filters{
                display:flex;
                flex-direction:column;
                align-items:center;

                .filter{
                    display:flex;
                    flex-direction:column;
                    width:30%;
                    justify-content: center;
                    text-align:center;  
                    
                    .select{
                        height: fit-content;
                        display:flex;
                        flex-direction: column;
                        justify-content: center;

                        .selected-option{
                            background:white;
                            height:fit-content;
                        }
                        .options{
                            
                            display:flex;
                            flex-direction:column;
                            justify-content: center;
                            
                            background:grey;
                            visibility:hidden;
                            
                            
                        }
                    }
                
                }
            }
            
            .temp{
                display:flex;
                justify-content: center;
            }

            .stats{

                
                
                display:flex;
                flex-direction:row;
                justify-content: center;
                gap:20%;
                .item{
                    display:flex;
                    flex-direction: row;
                    max-width: 100px;
                    gap:10px;
                   
                    
                }
                
                .left-stats{
                    display:flex;
                    flex-direction:column;
                    gap:10px;
                }
                .right-stats{
                    display:flex;
                    flex-direction:column;
                    gap:10px;

                }
            }
        }

        .right{
            flex-grow:6;
            display:flex;
            flex-direction:row;
            justify-content: center;
            max-width:70vw;
            padding:20px;


            .map-image{
                max-width:100%;
            }
        }
    }
}

a {
    text-decoration:none;
}