body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #799a84ff;
    background-blend-mode: lighten;
    display: flex;
}
.top {

    font-family: "Roboto", serif;
    font-size: 2rem;
    margin-left:300px;
    text-align: center;
    line-height: 15rem;

    color: rgb(183, 183, 183);

}
.white-box {
    background-color: white;
    width: 400px; /* or a fixed width like 400px */
    height: 250px;
    max-width: 700px;
    padding: 20px;
    border-radius: 20px;
    margin-left: 450px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
   
}

